<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elle's Nails Contact</title>
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; box-sizing: border-box; margin-left: auto; margin-right: auto;">
    <div style="border: 5px outset #FFBBEC; background-color: #A9C9FF; background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); width: 95%; height: auto; margin-left: auto; margin-right: auto;">

        {{!-- <img src="https://127.0.0.1:3000/src/assets/elles-logo.png" alt="elles-details-logo" style="width: 25%; height: 25%; margin-right: auto; margin-left: auto;"> --}}
        <h1 width="100%" style="color: #FFF; font-size: 5vw; text-align: center;">✨ ELLE'S NAILS ✨</h1>
        <h2 style="padding-bottom: 3%; color: #FFF; text-decoration: underline; font-size: 3vw; text-align: center;">CONTACT FORM</h2>

        <table style="width: 80%; height: auto; border-collapse: collapse; margin-right: auto; margin-left: auto;">
            
            <tr style="width: 100%;">
                <td style="color: #FFF; font-style: italic; font-size: 2vw; width: 30%; text-align: left;">Potential Customer: </td>
                <td style="color: #FFF; font-size: 2vw; width: 95%;">{{name}}</td>
            </tr>
    
            <tr style="width: 100%">
                <td style="color: #FFF; font-style: italic; font-size: 2vw; width: 30%; text-align: left;">E-mail:</td>
                <td style="color: #FFF; font-size: 2vw; width: 95%;">{{email}}</td>
            </tr>
    
            <tr style="width: 100%">
                <td style="color: #FFF; font-style: italic; font-size: 2vw; width: 30%; text-align: left;">Phone #:</td>
                <td style="color: #FFF; font-size: 2vw; width: 95%">{{phone}}</td>
            </tr>
    
            <tr style="width: 100%">
                <td style="color: #FFF; font-style: italic; font-size: 2vw; width: 30%; text-align: left;">Specifics:</td>
                <td style="color: #FFF; font-size: 2vw; width: 95%;">{{specifics}}</td>
            </tr>
            
        </table>

        <h6 style="color: #FFF; font-size: 1.5vw; text-align: center;">be professional, be warm, and be yourself :)</h6>
        
    </div>
</body>
</html>